* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100vh;
    font-family: 'Poppins';
}


main {
    width: 100%;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container-header {
    grid-column: 1 / span 12;
    height: 100vh;
}

#content-header {
    display: flex;
    height: auto;
    height: 100vh;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

#content-header:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    transform: scaleX(1);
}

#header-name, #header-title {
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#header-name {
    width: 50vw;
    padding-right: 0.3em;
}

#header-title {
    font-size: 1.2rem;
    width: 50vw;
    padding-left: 0.3em;
}

.header-name-text {
    font-size: 2.5rem;
    line-height: 97%;
    text-align: right;
}

.typed-text {
    white-space: pre-line;
}

.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}


.container {
    grid-column: 1 / span 12;
    height: 100vh;
}

.text-white {
    color: white;
}

.text-green {
    background: -webkit-linear-gradient(45deg, #80ff72, #7ee8fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.section-skill {
    grid-column: 4 / 10;
    text-align: center;
}

.section-title {
    grid-column: 4 / 10;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3em;
}

.item-skill {
    grid-column: 4 / 10;
    margin-top: 3em;
}

.section-experience {
    grid-column: 3 / 11;
    text-align: center;
    margin-top: 8em;
}

.section-experience-list {
    list-style-type: none;
}

footer {
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    padding-bottom: 4em;
    justify-content: center;
}

.footer-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-item {
    padding: 1em 1em;
}